* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

#container {
    text-align: center;
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1, h2, h6 {
    margin-bottom: 15px;
    color: #444;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    color: #3498db;
    text-decoration: none;
}

#output {
    max-width: 60%;
    margin-top: 20px;
    padding: 10px;
    background: #e2e2e2;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

