* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#loadBtn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

#loadBtn:hover {
    background-color: #218838;
}

#userList {
    list-style-type: none;
}

#userList li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    text-align: left;
}

#userList li:nth-child(odd) {
    background: #e9e9e9;
}

