* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

div {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

h3 {
    margin-bottom: 20px;
    color: #555;
}

button {
    margin: 6px 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#countNumber {
    font-weight: bold;
    color: #007BFF;
}

