* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#taskInput {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#taskBtn {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#taskBtn:hover {
    background: #218838;
}

#taskList {
    list-style-type: none;
}

#taskList li {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#taskList li:nth-child(odd) {
    background: #f9f9f9;
}

#taskList li:hover {
    background: #e9e9e9;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

